# Database Connection (Prisma/Server-side)
DATABASE_URL="postgresql://postgres:B2B9x%23bh2p%26GYdB@db.qgjfccfnoflqfgtueujd.supabase.co:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres:B2B9x%23bh2p%26GYdB@db.qgjfccfnoflqfgtueujd.supabase.co:5432/postgres"

# Supabase API Configuration
NEXT_PUBLIC_SUPABASE_URL="https://qgjfccfnoflqfgtueujd.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFnamZjY2Zub2ZscWZndHVldWpkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY1MjYwNTYsImV4cCI6MjA5MjEwMjA1Nn0.5wzD0Ondc7ymlDudw8CjPTUBwLOaEQ_7he1XvKCVE_Q"

# Security
JWT_SECRET="823fd14a-5316-4f21-8e61-0764d159a607"

# KHPay Configuration
KHPAY_BASE_URL="https://khpay.site/api/v1"
KHPAY_API_KEY="your_khpay_api_key"

# App Mode
PAYMENT_SIMULATION_MODE="true"
